    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <!-- <ul class="nav masthead-nav">
                <li class="active"><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul> -->
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">B-Ball Games</h1>
            <p class="lead">Hoop it up with your friends! </p>
            <p class="lead">
              <a href="/auth/twitter" class="btn btn-lg btn-default">
                Sign in with Twitter
              </a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <!-- <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p> -->
            </div>
          </div>

        </div>

      </div>

    </div>
