<div class="background_image">
</div>


<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <h1 class="cover-heading">B-Ball Games</h1>
        <p class="lead">Hoop it up with your friends! </p>
        <p class="lead">
          <a href="/auth/twitter" class="btn btn-lg btn-default">
            Sign in with Twitter
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
