// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_info {
  width: 35%;
  margin-top: 0%;
  margin-right: auto;
  margin-left: 0;
  background: rgba(15,15,15,0.15);
  border-radius: 5px;
}
